<!DOCTYPE html>
<html>
<head>
  <title>じゃんけん結果</title>
</head>
<body>
  <h1>結果</h1>
  <p>あなたの手: <%= hand %></p>
  <p>CPUの手: <%= cpu %></p>
  <p>結果: <%= judgement %></p>
  <p>勝利数: <%= win %></p>
  <p>試合数: <%= total %></p>
  <a href="/janken">もう一度勝負</a>
</body>
</html>
